# Ignore Python virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo

# Ignore environment variable files
.env

# Ignore SQLite database file
*.db

# Ignore Streamlit local config
.streamlit/

# Ignore Jupyter notebooks checkpoints (if used)
.ipynb_checkpoints/
